<form method="post" action="/quizes/<%=quizid%>/comments/" class="lista new">
<p>Añadir comentario:</p>      
<!--    <input type="text" id="comment" name="comment[texto]" placeholder="Escribe tu comentario">-->
    <p><textarea name="comment[texto]" id="comment" cols="30" rows="10" placeholder="Escribe tu comentario" required></textarea></p>
    <button class="boton" type="submit">Enviar</button>
</form>