<p class="creditos"><%=creditos%></p>
<video height="200" controls poster="/images/github.png">
  <source src="/images/video_prueba..ogv" type="video/ogg">
  <source src="/images/video_prueba.mp4" type="video/mp4">
  Tu navegador no implementa el elemento <code>video</code>.
</video>