<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Preguntas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
	<div id="page-wrap">
		<header class="main" id="h1">
			<h2>Quiz<span>: el juego de las preguntas</span></h2>
		</header>
		<nav class="main" id="n1" role="navigation">
		    <div>    
				<span><a href="/">Inicio</a></span>
				<span><a href="/quizes/question">Preguntas</a></span>
				<span><a href="/author">Créditos</a></span>
			</div>
		</nav>
		<section class="main" id="s1">
			<div><%-body%></div>
		</section>
		<footer>
			<a href="http://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a>
			<a href="https://github.com/AvilaC/mi_quiz">Mi proyecto en GitHub</a>
		</footer>
	</div>
</body>
</html>