<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <h2>Quiz<span>: el juego de las preguntas</span></h2>
    <p><%=respuesta%></p>
    <p><a href="/quizes/question">Intentelo otra vez</a></p>
</body>
</html>