<table class="lista">
	<tr><td>Preguntas que coinciden:</td></tr>
	<% var i; for (i=0; i < quizes.length; i++){%>
		<tr>
		    <td><li><a href="/quizes/<%= quizes[i].id %>"><%=quizes[i].pregunta %></a></li></td>
		    <td class="tema"><%=quizes[i].tematica %></td>
		</tr>
	<%}%>
</table>